{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}
{% block content %}

    {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
              </div>
            </div>
    {% endfor %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form}}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>

{% endblock %}